*{
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  
}
.sub-header{
  height: 50vh;
  background-image: linear-gradient(rgba(4,9,30,0.7), rgba(4,9,30,0.7)), url(images/change.webp);
  background-position: 40% 60%;
  text-align:center;
  color: #fff;
}

html{
  scroll-behavior: smooth;
}
body {
  background-color: #18191A;
  color: white; /* Ensure text is visible */
}

.sub-header nav{
  display: flex;
  padding: 2% 6%;
  justify-content: space-between;
  align-items: center;
}
.sub-header nav img{
 
  width:100px;
}
.nav-links{ 
  flex: 1;
  text-align: right;
}
.nav-links ul li { 
  list-style: none;
  display: inline-block;
  padding: 8px 12px; 
  position: relative;
}
.nav-links ul li a{
  color: white;
  text-decoration: none;
  font-size: 13px;

}
.nav-links ul li::after{
  content:'';
  width:0%;
  height: 2px; 
  background: rgba(138, 195, 125,0.7);
  display: block;
  margin:auto;
  transition:0.5s;

}
.nav-links ul li:hover::after{
  width: 100%;

}

 .text-box1{
  width: 90%;
  color: white;
  position: absolute;
  top:30%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
 .text-box1 h1{
  font-size: 40px;
}
.text-box1 p{
  margin: 10px 0px 40px;
  font-size: 14px;
  color: #fff;
} 
.hero-btn{
  display: inline-block;
  text-decoration: none;
  color: rgba(138, 195, 125,0.7);
  border: 1px solid rgba(138, 195, 125,0.7);
  padding: 12px 34px;
  font-size: 13px;
  background: transparent;
  position: relative;
  cursor: pointer;

}
.hero-btn:hover{
  color: white;
  border: 1px solid rgba(138, 195, 125,0.7);
  background: rgba(138, 195, 125,0.7);
  transition: 0.5s;
}

/* sidebar*/
.sidebar{
  background-color:  #3A3B3C;
  
  position: fixed;
  left: 25px;
  border-radius:5px;
  width: 150px;
}
.sidebar:hover{
  box-shadow: 0 0 20px 0px rgba(0,0,0,0.2);
  transition:0.5s;

}
.sidebar nav{
  
  display: block;
  padding:5% 5%;
  
  
  
}



.nav-links2{ 
  flex: 1;
  text-align: center;
}
.nav-links2 ul li { 
  list-style: none;
  display: inline;
  padding-bottom: 5px;

}
.nav-links2 ul li a{
  color: rgb(255, 255, 255);
  text-decoration: none;
  font-size: 15px;
  

}
.nav-links2 ul li a:hover{
  color: white;
 

}
.nav-links2 ul li::after{
  content:'';
  width:0%;
  height: 2px;
  background: rgba(138, 195, 125,0.7);
  display: block;
  margin:auto;
  transition:0.5s;

}
.nav-links2 ul li:hover::after{
  width: 100%;
 

}
/*--*/
.row{
  margin: 5%;
  display: block;
  justify-content: space-between;
}

/* rows */

.players{

  width: 80%;
  margin: auto;
  text-align: center;
  padding-top:50px;
}

.players-col{
  flex-basis: 32%;
  border-radius: 10px;
  margin-bottom: 30px;
  position: relative;
  overflow: hidden;
}
.players-col img{
  display: block;
  object-fit: cover;
  width: 100%;
  height:100%;

}
.layer{
  background: transparent;
  height:100%;
  width:100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: 0.5s;
}
.layer:hover{
  background: rgba(138, 195, 125, 0.7);
}
.layer h3{
  width: 100%;
  font-weight: 500;
  color: #fff;
  font-size:26px;
  bottom:0;
  left:50%;
  transform: translateX(-50%);
  position:absolute;
  transition:0.5s;
  opacity: 0;
}
.layer:hover h3{
  bottom:49%;
  opacity: 1;
}

/*--*/

/* columns */
.info{
  width: 100%;
  margin: auto;
  text-align: center;
  padding-top:100px;
}
h1{
  font-size: 36px;
  font-weight: 600;
  padding-bottom: 30px;
  /* text-decoration: underline; */

}
p{
  color: rgb(255, 255, 255);
  font-size: 12px;
  font-weight: 300;
  line-height: 22px;
  padding: 10px;
  
}
.row{
  margin: 5%;
  display: flex;
  justify-content: space-between;
}
.info-col{
  flex-basis: 31%;
  background: #3A3B3C;
  border-radius: 10px;
  border-radius: 10px;
  padding: 20px 12px;
  box-sizing: border-box;
  transition: 0.5s;
}
h3{
  text-align: center;
  font-weight: 600;
  margin: 10px 0;
}
.info-col:hover{
  box-shadow: 0 0 20px 0px rgba(0,0,0,0.2);
}
.info img{
  
  display:block;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}
/*--*/

/* cta */
.cta{
  margin: 100px auto;
  width: 80%;
  background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url(images/stadium.jpg);
  background-position: center;
  background-size: cover;
  text-align: center;
  border-radius: 10px;
  padding: 100px 0;
}
.cta h1{
  color: #fff;
  margin-bottom: 40px;
  padding: 0;
}
/*--*/

.love2{ 
  margin-bottom:20px;
  text-align: center;
}
.footer{
  width: 100%;
  text-align: center;
  padding: 30px 0;
}
.footer h4{
  margin-bottom: 30px;
  margin-top: 20px;
  font-weight: 600;
}

.main-container{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.main-container .image{
  width: 300px;
  height: 300px;
  margin-left: 200px;
  border-radius: 100%;
  overflow: hidden;
  box-shadow: 0 0 50px #077b32;
}
.main-container .image-2{
  width: 300px;
  height: 300px;
  margin-left: 200px;
  border-radius: 100%;
  overflow: hidden;
  box-shadow: 0 0 50px #ff00e1;
}
.main-container .image img{
  width: 100%;
}
.main-container .image-2 img{
  width: 100%;
}
.main-container .image:hover{
  animation: animate 1.5s ease-in-out infinite;
}
.main-container .image-2:hover{
  animation: animate 1.5s ease-in-out infinite;
}
@keyframes animate {
  0%{
      scale: 1;
  }
  50%{
      scale: 1.05;
  }
  100%{
      scale: 1;
  }
}
.main-container .content{
  color: white;
  width: 40%;
  min-height: 100px;
}
.content h1{
  font-size: clamp(1rem, 1rem + 5vw, 1.8rem);
}
.content h1 span{
  color: #077b32;
  text-shadow: 0  0 10px #077b32;
}
.content .typewriter{
  font-size: clamp(1rem, 1rem + 5vw, 2.5rem);
  font-weight: 600;
}
.content .typewriter-text{
  color: #077b32;
  text-shadow: 0 0 10px #077b32;
}
.content .typewriter-text-2{
  color: #ff03b3;
  text-shadow: 0 0 10px #ff00d4;
}
.content p{
  font-size: clamp(0.4rem , 0.2rem + 9vw, 1rem);
  margin: 10px 0;
}

@media (max-width:884px) {
  nav .logo{
      position: absolute;
      top: 16px;
      left: 15px;
      font-size: 1.5rem;
  }
  .main-container {
      display: flex;
      flex-direction: column;
  }
  .nav-container .links{
      display: none;
  }
  .hamburg,
  .cancel{
      display: block;
  }
  .main-container .content{
      width: 80%;
  }
  .social-links i{
      width: 2.5rem;
      height: 2.5rem;
      font-size: 1.5rem;
  }
  .main-container .image{
      z-index: -1;
      width: 50%;
      height: 60%;
  }
}
@media (max-width:440px){
  .main-container .image{
      width: 50%;
      height: 60%;
      margin-bottom: 0px;
  }
  .main-container .content{
      width: 80%;
  }
  .main-container button{
      margin-top: 15px;
  }
}
